.movie_list li {
  display: inline-block;
  padding: 3px;
}

.pagination ul {
  display: inline-block;
}

.pagination li {
  padding-left: 10px;
  padding-right: 10px;
}

.active {
  background-color: blue;
}